
bin/
obj/
2.Presentation/Presentation.WPF/fr/
/GlobalOutput
/GlobalOutputapp.publish

/TestResults
*.user
*.suo
Import Schema Logs/
.vs/
*.htm
*.ncrunchproject
*.ncrunchsolution
_NCrunch_Global/
nCrunchTemp*

*.dbmdl

packages/
.nuget/*

.fake

.paket/paket.exe
paket-files/

.idea/

/UpgradeLog.htm
